wp
*.swo
.DS_Store
*.o
*.d
*.so*
__pycache__
build*
tags
.vscode*
CMakeLists.txt.user*
.idea*
*.mo
.clangd/*
*.pyc
*.mypy_cache/
.coverage
python_coverage_report
python_coverage_report.json
devcontainer.json
launch.json
integration_tests_output
.settings
.cproject
.project
docs/nocp-parameters.xml
